body {
    font-family: Arial, sans-serif;
    margin: 0;
}
header, nav, main, aside, footer {
    padding: 20px;
    margin: 10px;
}
header {
    background-color: #4CAF50;
    color: white;
}
nav {
    background-color: #333;
    color: white;
}
nav a {
    color: white;
    margin-right: 30px;
    text-decoration: none;
}
/* Estilo para el contenedor de asides en main */
.main-complementario {
    display: flex;
    flex-direction: column; /* Coloca los asides en columna */
    flex: 1;
}
/* Correcci贸n: El main deber铆a ser el contenedor flex principal si quieres los asides al lado de la secci贸n */
main {
    display: flex; 
}
section {
    flex: 2;
    background-color: #b92b2b;
    padding: 10px;
    border: 10px solid;
    margin: 10px;
}
aside {
    /* flex: 1; se elimin贸 ya que est谩 en .main-complementario */
    background-color: #99a7d6;
    padding: 10px;
    height: 200px;
    width: 150px;
    /* flex-direction: column; se movi贸 a .main-complementario */
}
footer {
    background-color: #222;
    color: white;
    text-align: center;
}
article {
    background-color: #d1dfa1;
    margin-bottom: 10px;
    padding: 10px;
    border: 5px solid #cccccc;
}
.contenedor {
    max-width: 1280px;
    margin: auto;
}

.marget_imagens {
    margin: 20px;
}
/* No encontr茅 .imagen-flotante en tu HTML, pero el estilo es correcto */
.imagen-flotante {
    position: fixed;
    top: 20px;
    right: 20px;
}

.aside_imagenes {
    background-color: azure;
}

.color_link {
    color: blue;
}

.color_link:hover {
    color: brown;
    background-color: coral;
}

.primera_letra {
    color: #b92b2b;
}

/* CORRECCIN: Se corrigi贸 la unidad de medida de '150pxs' a '150px' */
.primera_letra::first-letter {
    color: aqua;
    font-size: 150px; 
}

/* Nota: Este selector aplica a CUALQUIER .color_link que sea el primer hijo dentro de su padre */
.color_link:first-child { 
    font-weight: bold; 
}

.color_link::before { 
    content: "";
}

/* Estilo auxiliar para los div que contienen los ejemplos de posici贸n */
.pos-contenedor-inline {
    display: inline-block;
}

.clase_static { 
    font-size: 20px;
    background-color: white;
    position: static;
    margin-left: 80px;
    margin-right: 200px;
}
.clase_static2 {
    font-size: 20px;
    background-color: white;
    position: static;
    margin-left: 80px;
    margin-right: 200px
}

/* --- POSICIONAMIENTO RELATIVE --- */
.clase_relative {
    font-size: 20px;
    background-color: green;
    height: 250px;
    width: 200px;
}
.clase_relative:hover {
    position: relative;
    top: 100px;
    left: 100px;
}

.clase_relative2 {
    font-size: 17px;
    background-color: green;
    height: 250px;
    width: 200px;
}
.clase_relative2:hover {
    position: relative;
    margin-top: 100px;
    margin-left: 100px;
}

.clase_relative3 {
    font-size: 17px;
    background-color: green;
    height: 250px;
    width: 200px;
}
.clase_relative3:hover {
    position: relative;
    top: 100px;
    left: 100px;
    z-index: -10;
}

/* --- POSICIONAMIENTO ABSOLUTE --- */
.clase_Absolute {
    font-size: 20px;
    background-color: rgb(228, 189, 15);
    height: 150px;
    width: 150px;
    position: absolute;
    top: 20px;
    left: 450px;
}

.clase_relative4 {
    font-size: 20px;
    background-color: orange;
    height: 200px;
    width: 200px;
    position: relative; 
}

.clase_AbsoluteRelative {
    font-size: 20px;
    background-color: orange;
    height: 200px;
    width: 150px;
    position: absolute;
    bottom: 150px;
    left: 600px;
    z-index: -5;
}

/* --- POSICIONAMIENTO FIXED --- */
.clase_Fixed {
    height: 200px;
    width: 150px;
    position: fixed;
    left: 750px;
    bottom: 0px;
}
.marcaagua {
    opacity: 0.1;
    pointer-events: none; 
    z-index: 999;
}

/* --- POSICIONAMIENTO STICKY --- */
.clase_sticky {
    position: sticky;
    font-size: 20px;
    top: 8px;
    left: 48px;
    height: 300px;
}
.texto_1 {
    font-size: 20px;
}

/* --- FLOAT --- */
.class_float_rigth2 {
    float: right;
    background-color: bisque;
    margin: 5px;
}

/* --- DISPLAY --- */
.enlinea {
    background-color: red;
    display: inline;
    font-size: 30px;
    margin: 2px;
    color: azure;
    width: 80px; /* No afecta a elementos inline */
    height: 40px; /* No afecta a elementos inline */
}

.tipoinlineblock{
    background-color: rebeccapurple;
    font-size: 30px;
    margin: 10px;
    color: #d1dfa1;
    display: inline-block;
    height: 500px;
}

.bloque{
    background-color: orange;
    font-size: 30px;
    margin: 10px;
    color: #cccccc;
    display: block; /* Se a帽ade expl铆citamente, aunque div es block por defecto */
}
.tiponone{
    background-color: blue;
    font-size: 20px;
    margin: 20px;
    color: #cccccc;
    display:none;
}

.tipohidden{
    background-color: blue;
    font-size: 20px;
    margin: 20px;
    color: #cccccc;
    visibility: hidden;
}

/* --- GRID --- */
.contenedor-grid {
    display: grid;
    grid-template-columns: repeat(2, 1fr);
    gap: 15px;
}

.item img {
    max-width: 100%;
}

.item {
    display: flex;
    background-color: lightcoral;
    padding: 20px;
    text-align: center;
    border: 1px solid #333;
    font-size: 30px;
    justify-content: center;
    align-items: center;
}

/* --- VIDEO DE FONDO --- */
#Mivideo{
    position: fixed;
    right: 0;
    bottom: 0;
    min-width: 100%;
    min-height: 100%;
    width: auto;
    height: auto;
    z-index: -1;
    background-size: cover;
    overflow: hidden;
}

/* --- NAVEGACIN (claseNav) --- */
.claseNav { 
    background-color: #d1dfa1;
    font-size: 15px;
    padding-inline: 0px;
    color: black;
    list-style-type: none;
    /* Se elimina display: inline; para que los li puedan flotar correctamente */
    padding: 0; /* Agregado para consistencia */
}
.claseNav a:hover{
    background-color: coral;
}

.claseNav ul{
    list-style-type: none;
    display: block;
    margin: 0px;
    padding: 0px;
}

.claseNav li a {
    text-decoration: none;
    padding: 10px; /* Agregado padding para que el hover se vea mejor */
    display: block;
}

.claseNav > li {
    display: inline-block; /* Mejor para el efecto de men煤 */
}

.claseNav li ul {
    display: none;
    position: absolute;
    min-width: 140px;
    z-index: 10; /* Asegura que el submen煤 est茅 sobre otros elementos */
}

.claseNav li:hover > ul {
    display: block;
}