        body {
            font-family: Arial, sans-serif;
            margin: 0;

        }
        header, nav, main, aside, footer {
            padding: 20px;
            margin: 10px;
        }
        header {
            background-color: #4CAF50;
            color: white;
        }
        nav {
            background-color: #333;
            color: white;
        }
        nav a {
            color: white;
            margin-right: 30px;
            text-decoration: none;
        }
        main {
            display: flex; /*flexible para evitar superpociciones*/
        }
        section {
            flex: 2;
            background-color: #b92b2b;
            padding: 10px;
            border: 10px solid;
            margin: 10px;
        }
        aside {
            flex: 1;
            background-color: #99a7d6;
            padding: 10px;
            height: 200px;
            width: 150px;
            flex-direction: column; /*coloca a los asides en una columna*/
        }
        footer {
            background-color: #222;
            color: white;
            text-align: center;
        
        }
        article {
            background-color: #d1dfa1;
            margin-bottom: 10px;
            padding: 10px;
            border: 5px solid #cccccc;
        }
        .contenedor {
            max-width: 1280px;
            margin: auto;
        }

        .marget_imagens {
            margin: 20px;
        }
    .imagen-flotante {
       position: fixed;
       top: 20px;       /* Distancia desde la parte superior */
       right: 20px;     /* Distancia desde la derecha */
       }

.aside_imagenes {
    background-color: azure;
}

.color_link {
    color: blue;
}

.color_link:hover {
    color: brown;
    background-color: coral;
}

.primera_letra {

    color: #b92b2b;

}

.primera_letra::first-letter {
    color: aqua;
    font-size: 150pxs;
}

.color_link:first-child { font-weight: bold; }

.color_link::before { 
    content: "";
}

.clase_static { 
    font-size: 20px;
    background-color: white;
    position: static;
    margin-left: 80px;
    margin-right: 200px;

.clase_static2 {
    font-size: 20px;
    background-color: white;
    position: static;
    margin-left: 80px;
    margin-right: 200px;
}

}
.clase_relative {
    font-size: 20px;
    background-color: green;
    height: 250px;
    width: 200px;
}

.clase_relative:hover {
    position: relative;
    top: 100px;
    left: 100px;
}
/*Al usar position relative en la pseudoclase Hover, position se activa cuando se posiciona el mouse en la 
imagen. Notese que como se ha utilizado top y left, esto causa la superposici贸n de elementos .*/

.clase_relative2 {
    font-size: 17px;
    background-color: green;
    height: 250px;
    width: 200px;
}

.clase_relative2:hover {
    position: relative;
    margin-top: 100px;
    margin-left: 100px;
}
/*Al usar position relative en la pseudoclase Hover, position se activa cuando se posiciona el mouse en la imagen.
Notese que como se ha utilizado Margin-top y Margin-left, esto causa la NO superposici贸n de elementos , es
decirseacomodalaposici贸nparanogenerarcruces.*/

.clase_relative3 {
    font-size: 17px;
    background-color: green;
    height: 250px;
    width: 200px;
}

.clase_relative3:hover {
    position: relative;
    top: 100px;
    left: 100px;
    z-index: -10; /*OJO:
Signo (-) inidica hacia atr谩s
Signo (+) inidica hacia adelante*/
}


.clase_Absolute {
    font-size: 20px;
    background-color: rgb(228, 189, 15);
    height: 150px;
    width: 150px;
    position: absolute;
    top: 20px;/*empuja la imagen desde arriba top=arriba*/
    left: 450px;/*empuja la imagen desde la izquierda left=izqueirda */

}
/*En la parte donde se coloco el c贸digo de position
absolute no aparece la imagen correspondiente, y el
texto que estaba en inline-block ocupo su lugar
La imagen que esta en position absolute se ubico en
la posici贸n configurada, respecto al inicio del Body*/

.clase_relative4 {
    font-size: 20px;
    background-color: orange;
    height: 200px;
    width: 200px;
    position: relative;
    
}
.clase_AbsoluteRelative {
    font-size: 20px;
    background-color: orange;
    height: 200px;
    width: 150px;
    position: absolute;
    bottom: 150px;
    left: 600px;
    z-index: -5;
}
.clase_Fixed {
    height: 200px;
    width: 150px;
    position: fixed;
    left: 750px;
    bottom: 0px;
}
.marcaagua {
    opacity: 0.1;
    pointer-events: none; /*se encarga que la marca de agua,no le afecte nada o ninguna complicaci贸n*/
    z-index: 999;
}

.clase_sticky {
    position: sticky;
    font-size: 20px;
    top: 8px;
    left: 48px;
    height: 300px;
}
.texto_1 {
    font-size: 20px;
}

.class_float_rigth2{
    float: right;
    background-color: bisque;
    margin: 5px;
}

.enlinea {
    background-color: red;
    display: inline;
    font-size: 30px;
    margin: 2px;
    color: azure;
    width: 80px;
    height: 40px;
}

.tipoinlineblock{
    background-color: rebeccapurple;
    font-size: 30px;
    margin: 10px;
    color: #d1dfa1;
    display: inline-block;
    height: 500px;
}
.bloque{
    background-color: orange;
    font-size: 30px;
    margin: 10px;
    color: #cccccc;
}
.tiponone{
    background-color: blue;
    font-size: 20px;
    margin: 20px;
    color: #cccccc;
    display:none;
}

.tipohidden{
    background-color: blue;
    font-size: 20px;
    margin: 20px;
    color: #cccccc;
    visibility: hidden;
}

.contenedor-grid {
  display: grid;
  grid-template-columns: repeat(2, 1fr); /* 2 columnas iguales */
  gap: 15px; /* Espacio entre celdas */
}

.item img {
     max-width: 100%; /* Para que no se desborde */
}

.item {
 display: flex;
  background-color: lightcoral;
  padding: 20px;
  text-align: center;
  border: 1px solid #333;
  font-size: 30px;
   justify-content: center;  /* Centrar horizontalmente */
  align-items: center;      /* Centrar verticalmente */
}