        body {
            font-family: Arial, sans-serif;
            margin: 0;

        }
        header, nav, main, aside, footer {
            padding: 20px;
            margin: 10px;
        }
        header {
            background-color: #4CAF50;
            color: white;
        }
        nav {
            background-color: #333;
            color: white;
        }
        nav a {
            color: white;
            margin-right: 30px;
            text-decoration: none;
        }
        main {
            display: flex; /*flexible para evitar superpociciones*/
        }
        section {
            flex: 2;
            background-color: #b92b2b;
            padding: 10px;
            border: 10px;
            margin: 10px;
        }
        aside {
            flex: 1;
            background-color: #99a7d6;
            padding: 10px;
            height: 200px;
            width: 150px;
            flex-direction: column; /*coloca a los asides en una columna*/
        }
        footer {
            background-color: #222;
            color: white;
            text-align: center;
        
        }
        article {
            background-color: #d1dfa1;
            margin-bottom: 10px;
            padding: 10px;
            border: 5px solid #cccccc;
        }
        .contenedor {
            max-width: 1280px;
            margin: auto;
        }

        .marget_imagens {
            margin: 20px;
        }
    .imagen-flotante {
       position: fixed;
       top: 20px;       /* Distancia desde la parte superior */
       right: 20px;     /* Distancia desde la derecha */
       }

.aside_imagenes {
    background-color: azure;
}

.color_link {
    color: blue;
}

.color_link:hover {
    color: brown;
    background-color: coral;
}

.primera_letra {

    color: #b92b2b;

}

.primera_letra::first-letter {
    color: aqua;
    font-size: 150pxs;
}

.color_link:first-child { font-weight: bold; }

.color_link::before { 
    content: "";
}

.clase_static { 
    font-size: 20px;
    background-color: white;
    position: static;
    margin-left: 80px;
    margin-right: 200px;

.clase_static2 {
    font-size: 20px;
    background-color: white;
    position: static;
    margin-left: 80px;
    margin-right: 200px;
}

}
.clase_relative {
    font-size: 20px;
    background-color: green;
    height: 250px;
    width: 200px;
}

.clase_relative:hover {
    position: relative;
    top: 100px;
    left: 100px;
}
/*Al usar position relative en la pseudoclase Hover, position se activa cuando se posiciona el mouse en la 
imagen. Notese que como se ha utilizado top y left, esto causa la superposici贸n de elementos .*/

.clase_relative2 {
    font-size: 17px;
    background-color: green;
    height: 250px;
    width: 200px;
}

.clase_relative2:hover {
    position: relative;
    margin-top: 100px;
    margin-left: 100px;
}
/*Al usar position relative en la pseudoclase Hover, position se activa cuando se posiciona el mouse en la imagen.
Notese que como se ha utilizado Margin-top y Margin-left, esto causa la NO superposici贸n de elementos , es
decirseacomodalaposici贸nparanogenerarcruces.*/

.clase_relative3 {
    font-size: 17px;
    background-color: green;
    height: 250px;
    width: 200px;
}

.clase_relative3:hover {
    position: relative;
    top: 100px;
    left: 100px;
    z-index: -10;
}
/*OJO:
Signo (-) inidica hacia atr谩s
Signo (+) inidica hacia adelante*/

.clase_Absolute {
    font-size: 20px;
    background-color: yellow;
    height: 250px;
    width: 200px;
    position: absolute;
    top: 200px;
    left: 100px;
}
/*En la parte donde se coloco el c贸digo de position
absolute no aparece la imagen correspondiente, y el
texto que estaba en inline-block ocupo su lugar
La imagen que esta en position absolute se ubico en
la posici贸n configurada, respecto al inicio del Body*/

.clase_Relative4 {
    font-size: 20px;
    background-color: orange;
    height: 200px;
    width: 150px;
    position: relative;
    
}
.clase_AbsoluteRelative {
    font-size: 20px;
    background-color: orange;
    height: 200px;
    width: 150px;
    position: absolute;
    bottom: 300px;
    left: 600px;
}